<!DOCTYPE html>
<html lang="en" data-theme="forest">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gestion sekou</title>
    <link href="https://cdn.jsdelivr.net/npm/daisyui@5" rel="stylesheet" type="text/css" />
<script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
<link href="https://cdn.jsdelivr.net/npm/daisyui@5/themes.css" rel="stylesheet" type="text/css" />
</head>

<body>
    <div class="flex justify-center mt-32">
        <div class="flex flex-col w-3xl bg-base-200 rounded-xl p-6">
            <div class="w-full h-fit">
                {% block content%}
                {% endblock %}
            </div>
        </div>
    </div>
    <script>
    // Enregistrement du Service Worker
    if ('serviceWorker' in navigator) {
        window.addEventListener('load', function() {
            navigator.serviceWorker.register('/static/sw.js')
                .then(function(registration) {
                    console.log('Service Worker enregistré avec succès :', registration.scope);
                })
                .catch(function(error) {
                    console.log('Échec de l\'enregistrement du Service Worker :', error);
                });
        });
    }
</script>
</body>
</html>